
html,body{
    width: 100%;
    height: 100%;
    margin: 20px;
    margin: 20px;
    background-image: url('images/pexels-pixelcop-2680270.jpg');
    font-family: sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: 'ethnocentric';
    font-size: 30px;
}
main {
    width: 70%;
    max-width: 640px;
    min-width: 600px;
    min-height: 100%;
    border: .2em solid rgb(6, 6, 6);
    margin: auto;
    background-color: rgb(234, 230, 254);
    padding: 1em 2em;
}

main nav {
    width: 100%;
    padding: 1rem 1%;
    background-color: rgb(93, 94, 121);
    border: .2em solid rgb(34, 49, 49);

    display: flex;
    align-items: center;
    justify-content: space-between;
}


main nav ul {
    font-family: "ethnocentric", sans-serif;
    display: flex;
    padding: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
}
main nav ul li {
    margin: 0 1em 
}

main nav ul li a {
    position: relative;
    font-size: 1.05rem;
    font-weight: 600;
    border-radius: 30px;
    text-decoration: none;
    color: rgb(176, 210, 239);
    padding: 0 1em;
    color: rgb(250, 236, 236);
    transition: 0.4s;
    
}
main nav ul li a:hover {
    background-color: rgb(28, 55, 57);
    
}

img {
    display: block;
    max-inline-size: 100%;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    font-family: sans-serif;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    max-inline-size: 100%;
    position: relative;
}

.content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content:hover{
    opacity: 1;
}

.content h2{
    font-size: 50px;
    color: aliceblue;
    margin-bottom: 15px;
}

.content p{
    font-size: 20px;
    color: rgb(27, 248, 200);
}

.content > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}

.content:hover > *{
    transform: translateY(0px);

}