body {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 16rem 1fr 16rem;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header header"
    "nav content sidebar"
    "footer footer footer";
    min-height: 100vh;
}

header {
    text-align: center;
    font-size: 40px;
    top: 0;
    grid-area: header;
    padding: 0.4rem;
    background-color: rgb(216, 216, 216);
}

nav {
    top: 0;
    position: sticky;
    align-self: flex-start;
    font-size: 40px;
    grid-area: nav;
    padding: 0.4rem;
    background-color: rgb(253, 178, 216);
}

/* Nav styling */
nav ul li {
    position: relative;
    display: inline-block;
    font-size: 1.05rem;
    font-weight: 600;
    border-radius: 30px;
    text-decoration: none;
    color: rgb(176, 210, 239);
    padding: 0 1em;
    color: rgb(250, 236, 236);
    transition: 0.9s;
    border-bottom-width: 1px;
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-style: solid;
    
}

/* Nav list hover styling */
nav ul li:hover {
    background-color: rgb(255, 255, 255);
}


/* Main content */
main {
    grid-area: content;
    padding: 2rem;
    background-color: rgb(255, 253, 253);
}

/* Sidebar styling */
aside {
    top: 0;
    position: sticky;
    align-self: start;
    font-size: 20px;
    text-align: center;
    grid-area: sidebar;
    padding: 2rem;
    background-color: rgb(255, 179, 221);
}

footer {
    text-align: center;
    grid-area: footer;
    padding: 2rem;
    background-color: rgb(180, 127, 230);
}

@media (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(5rem,auto) 1fr minmax(5rem, auto) auto;
        grid-template-areas: 
        "header"
        "nav"
        "content"
        "sidebar"
        "footer";
    }
}