/* General box styling */
div {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: rgb(168, 168, 168);
    text-align: center;


    margin: 20px;
    padding: 20px;
}

#box1 {
    float: right;
    background-color: aquamarine;
}

#box2 {
    background-color: brown;
    position: absolute;
    top: 50px;
    left: 325px;

}
