body {
    background-color: lightblue;
    margin: 25px;
    font-family: 'Times New Roman', Times, serif;
}
h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#main-title {
    text-align: center;
    font-size: 40px;
}
.author {
    font-style: italic;
    color: brown;
}